<html>
    <head>
        <title>
            Product_list
        </title>
    </head>
    <body>
        <h1 style="text-align: center;color: green;">Product_list2</h1>
        <table>
            <table>
                <tr>
                    <th>Product_ID</th>
                    <th>Product_type</th>
                    <th>Product_Name</th>

                </tr>      
                <tr>
                    <td>{{products}}</td>
                    <td>{{product_type}}</td>
                    <td>{{Product_Name}}</td>

                </tr>
        </table>
    </body>
</html>